{% extends "base.html" %}
{% block title %}Canvas{% endblock %}
{% block content %}
    <h1>Solutions to problems.</h1>
    <p>Do you have problems? We also had problems.</p>
    <p>
        Then we created the <em>canvas</em> app, and now we don't! 😬
    </p>
    <h2>Do you want to know more?</h2>
    <p>Sign up to our newsletter below.</p>
    <form action="/newsletter/signup"
          method="post"
          class="flex items-center max-w-md">
        <label for="email" class="sr-only">Email</label>
        <div class="relative rounded-md shadow-sm flex-grow">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <svg viewBox="0 0 20 20"
                     fill="currentColor"
                     aria-hidden="true"
                     class="h-5 w-5 text-gray-400">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                </svg>
            </div>
            <input type="email"
                   name="email"
                   id="email"
                   autocomplete="email"
                   required=""
                   placeholder="me@example.com"
                   tabindex="1"
                   class="focus:ring-gray-500 focus:border-gray-500 block w-full pl-10 text-sm border-gray-300 rounded-md" />
        </div>
        <button type="submit"
                class="ml-3 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 flex-none">
            Sign up
        </button>
    </form>
{% endblock %}
